{% extends 'base.html' %}
{% block content %}

<div class="container d-flex min-vh-100 justify-content-center align-items-center" >

    <div class=""> 
        
        <h4 class="text-light">About:</h4>
    
        <p class="text-light">
            The SniffaNet platform is a comprehensive Network Scanning and Reporting System built with Django,
            <br>
            offering a free and open-source solution for security assessment.
        </p>
        
        <br>
        
        <li><a href="{% url 'user' %}">Login/Register</a></li> 

    </div>

</div>

{% endblock %}