{% extends 'base.html' %}

{% block content %}

<nav>
    <ul>
        <li>
            <a class="text-light" href="{% url 'user' %}">Back to Scan</a>
        </li>
    </ul>
</nav>

<main>
    <h1><i class="fa fa-list-alt" aria-hidden="true"></i> Report List</h1>
    <ul>
        {% for report in reports %}
            <li class="text-light">{{ report }}</li>  <!-- Adjust this to display report details -->
        {% empty %}
            <li class="text-light">No reports available.</li>
        {% endfor %}
    </ul>
</main>

{% endblock %}
