{% extends 'base.html' %}
{% block content %}
<div class="container d-flex min-vh-100 justify-content-center align-items-center">
 <div>    
   <h1 class="text-light">Reports List</h1>

   {% if scan_results %}
       <ul>
       {% for scan_result in scan_results %}
           <li>
            IP Address: {{ scan_result.ip_address }}, 
            Hostname: {{ scan_result.hostname }}, 
            Operating System: {{ scan_result.os }}, 
            Open Ports: {{ scan_result.open_ports }}
            {% if scan_result.user == request.user %}
                <a class="text-light" href="{% url 'scan_detail' scan_result.id %}">View Details</a>
            {% endif %}
           </li>
       {% endfor %}
       </ul>
   {% else %}
       <p class="text-light">No scan results available.</p>
   {% endif %}
 </div>
</div>

{% endblock %}
