{% extends 'base.html' %}
{% block content %}
    <h1 class="text-light">Scan Detail</h1>
    <p><strong>IP Address:</strong> {{ scan_result.ip_address }}</p>
    <p><strong>Hostname:</strong> {{ scan_result.hostname }}</p>
    <p><strong>Operating System:</strong> {{ scan_result.os }}</p>
    <p><strong>Open Ports:</strong> {{ scan_result.open_ports }}</p>
    <!-- Add any additional details you want to display -->

    <!-- Optionally, include links or buttons for actions related to this scan result -->
    <a href="{% url 'reports' %}">Back to Reports</a>

{% endblock %}